@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

//   Footer
.main-footer{
  font-family:'Fredoka One', cursive ;
    background-color: aqua;
    text-align: center;
    font-size: 20px;
}

}